/* use Charis SIL - Regular in .woff format */
@font-face {
  font-family: CharisSILW;
  src: url('fonts/CharisSIL-R.woff');
}
/* use Charis SIL - Italic in .woff format */
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url('fonts/CharisSIL-I.woff');
}

@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	src: url('fonts/CharisSIL-B.woff');
}

@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
	src: url('fonts/CharisSIL-BI.woff');
}

@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
	src: url('fonts/CharisSIL-BI.woff');
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto-Mono-regular.woff');
}


body {
  font-family: 'CharisSILW', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}
